{
  "presets": [
    ["latest", {
      "es2015": {
        "modules": false
      }
    }],
    ["env", {
      "targets": {
        "browsers": ["> 5%", "last 2 versions"],
        "node": "current"
      }
    }],
    "flow"
  ],
  "plugins": ["transform-runtime"]
}
